label {
    font-weight: 600;
    display: block;
    margin-top: 1em;
}

@media screen and (min-width: 45em) {
    .section-gift-card{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

   
      
   
} 

.section-gift-card {
    width: 90%;
    margin: auto;
    padding: 4em 0;
    display: flex;
    justify-content: center;
}

.article-vista-previa {
    width: 32em;
}

.vista-previa {
    position: relative;
    width: 100%;
    height: 18em;
    margin-bottom: 15px;
    background-color: green;
}

.vista-previa-precio {
    width: 20%;
    display: inline;
    padding: 0.5em;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222831;
}

.container-text-vista-previa {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-personalizar {
    width: 40%;
    margin-left: 4em;
}

.titulo {
    font-size: 60px;
    margin: 0 auto;
    padding-top: 70px;
    overflow: hidden;
}

.fecha {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.texto-centrado {
    text-align: center;
}

.input-personalizar {
    width: 80%;
    padding: 0.5em;
    margin-top: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-personalizar:focus {
    outline: none;
    box-shadow: 0px 0px 5px #61C5FA;
    border: 1px solid #5AB0DB;
    border-radius: 0;
}

.contenedor-de-personalizacion {
    display: flex;
    margin-top: 0.5em;
    gap: 1em;
}

.circulo-color {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

input[type=radio] {
    display: block;
    margin: 0.5em auto;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.tamanio-fuente>span {
    font-size: 1.2em;
    margin: 0 auto;
    padding: 5px;
}

.ubicacion {
    border: 1px solid pink;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 5px;
}

.ubicacion>div {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
}

.abajo {
    bottom: 0px;
}

.derecha {
    right: 0px;
}

.izquierda {
    left: 0px;
}

.fondo-color {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.button-confirmar {
    margin-top: 2em;
}

#gift-card-para-text {
    font-size: 1em;
}

#destinatario-text {
    font-size: 3em;
    font-weight: bold;
}

.rosa{
    color: pink;
}

.rojo{
    color: red;
}

.azul{
    color: blue;
}

.verde{
    color: green;
}

.naranja{
    color: orange;
}

.arribaIzquierda{
    top: 0;
    left: 0;
}

.arribaDerecha{
    top: 0;
    right: 0;
}

.abajo{
    bottom: 0;
    right: 0;
}

.fecha{
    position: absolute;
}

