* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: darkslateblue;
    padding: 16px 32px;
}

footer {
    background-color: darkolivegreen;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-search {
    display: flex;
    justify-content: center;
    border: black solid 2px;
    border-radius: 16px;
    padding: 8px;
    width: 30%;
}

.container-search input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.container-search input:focus {
    outline: none;
}

.nav-main {
    background-color: dodgerblue;
}

.nav-main ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-main li {
    list-style: none;
}

.nav-main a {
    display: block;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 16px;
}

.nav-main a:hover {
    text-decoration: underline;
    color: dodgerblue;
    background-color: white;
}

.container-banner-main {
    width: 100%;
    height: 240px;
    background-color: firebrick;
}

.container-steps-item {
    width: 25%;
    background-color: gold;
}

.steps-placeholder {
    height: 160px;
}

.container-cursos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}

.curso-destacado-item {
    flex: 0 1 28%;
    padding: 16px;
    border: black solid 2px;
    margin-bottom: 48px;
}

.container-curso-image {
    width: 100%;
    height: 240px;
    background-color: blue;
}

.curso-detail {
    text-align: end;
    margin-top: 16px;
}

.curso-detail-title {
    display: flex;
    justify-content: space-between;
}

.curso-detail-title p {
    font-size: 20px;
    font-weight: bold;
}

.curso-destacado-item-button {
    display: inline-block;
    padding: 8px;
    background-color: blueviolet;
    margin-top: 8px;
}

.footer-info {
    flex: 0 1 28%;
    padding: 16px;
    border: white solid 2px;
}

#logo-main {
    display: inline;
    width: 64px;
}

#container-logo {
    display: inline;
}

#article-steps {
    background-color: forestgreen;
}

#container-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 48px 0;
    margin: auto;
    gap: 48px;
}

#article-cursos-destacados {
    padding: 24px;
}

#article-cursos-destacados h2 {
    display: block;
    text-align: center;
    width: 100%;
}

#article-medio-de-pagos {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: cadetblue;
}

#container-medios-de-pagos {
    height: 240px;
}

#container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 24px;
    margin: auto;
}