* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    text-align: center;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    
}
.contenido_bibliografia{
    justify-content: end;
}
.contenedor_Cursos{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    
}
.container-curso-image {
    width: 100%;
    height: 240px;
    background-color: blue;
}
#logo-main {
    display: inline;
    width: 64px;
}
#logo-Foto-Portada {
    display: inline-table;
    width: 320px;
}

#container-logo {
    display: inline;
}

.nav-main a {
    display: block;
    list-style: none;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 16px;
}
#container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 24px;
    margin: auto;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
background-color: darkolivegreen;
}
.footer-info {
    flex: 0 1 28%;
    padding: 16px;
    border: white solid 2px;
}

#article-bibliografia{
    display: grid;
    justify-content: flex-start;
    width: auto;
    background-color: cadetblue;
}
#article-bibliografia h2{
    display: flex;
    justify-content: end;
}
#container-bibliografia{
    flex-direction: column;
    height: 240px;
}
#docente h1{
    color: rgb(0, 0, 0);
    text-align: left;
}




.container-cursos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}

.curso-destacado-item {
    flex: 0 1 28%;
    padding: 16px;
    border: black solid 2px;
    margin-bottom: 48px;
}

.container-curso-image {
    width: 90%;
    height: 150px;
    background-color: blue;
}

.curso-detail {
    text-align: end;
    margin-top: 16px;
}

.curso-detail-title {
    display: flex;
    justify-content: space-between;
}

.curso-detail-title p {
    font-size: 20px;
    font-weight: bold;
}

.curso-destacado-item-button {
    display: inline-block;
    padding: 8px;
    background-color: blueviolet;
    margin-top: 8px;
}

#article-cursos-destacados {
    padding: 24px;
}

#article-cursos-destacados h2 {
    display: block;
    text-align: center;
    width: 100%;
}
.contenidoDelCurso h1 , h2{

    text-align: initial;

}