.contenedor-form {
    display: flexbox;
    flex-direction: row;
    text-align: left;
    justify-content:center;
    padding: 100px;
    padding-top: 80px;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(248, 248, 248);
    
}

h1 {
    margin-bottom: 8px;
    color: #48a9a6;
}

h2 {
    margin-bottom: 10px;
}

.sacar-persona {
    display: inline-block;
    width: 30px;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
}

.campo-form {
    width: 25%;
    padding: 10px;
    border-width: 1px;
    border-radius: 5px;
}

.campo-form:focus{
    outline: none;
}

.datos-form {
    padding-right: 10px;
    align-items: center;
    
}

.input-form {
    margin-right: 40px;
    margin-top: 20px;
}

.btn-inscripcion{
    display: inline-block;   
    border-radius: 5px;
    background-color: greenyellow;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    border-width: 0;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s;
}

.btn-inscripcion:hover {
    transform: scale(1.1);
}


.precio{
    display: inline-block;
    color: white;
    background-color: black;
    padding: 9px;
    border-radius: 5px;
    margin-right: 10px;
    
    
}


.agregar-persona {
    display: inline-block;
   
    max-width: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.agregar {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    
}

.container-agregar {
    justify-content:center;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
}

.container-medio-pago{
    display: flexbox;
    background-color: #48a9a6;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-bottom: 45px;
}

.container-medio-pago h2{
    display: block;
    margin-bottom: 20px;
}

.container-img-medio-pago{
    justify-content: space-between;
}

.img-medio-pago{
    padding: 5px;
    max-height: 74px;
    max-width: 74px;
    transition: transform 1s;
}
.img-medio-pago:hover{
    transform: scale(1.3);
}
.mercadopago {
    
    border-radius: 100%;
    border: 0;
}