.container-banner-main {
    width: 100%;
    height: 24em;
    background-color: firebrick;
}

.container-steps-item {
    width: 25%;
    background-color: gold;
}

.steps-placeholder {
    height: 10em;
}

.container-categorias {
    width: 90%;
    margin: auto;
    margin-top: 4em;
}

.container-categorias h2 {
    display: block;
    text-align: center;
}

.container-items-categorias {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.item-categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.item-categoria-img {
    display: flex;
    justify-items: center;
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.item-categoria-title {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

#container-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 48px 0;
    margin: auto;
    gap: 48px;
}

#article-medio-de-pagos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    background-color: cadetblue;
}

#container-medios-de-pagos {
    height: 240px;
}
