.section-contacto {
    width: 90%;
    margin: auto;
    padding: 2em 0;
    
}



.form-contacto {
    width: 40%;
    margin: auto;
}

.container-form-contacto {
    display: flex;
    flex-direction: column;
}

.container-form-contacto label {
    display: block;
    font-weight: 600;
    margin-top: 2em;
}

.container-form-contacto input, textarea, select {
    display: block;
    margin-top: 1em;
    padding: 0.5em;
}

.container-form-contacto input, textarea:focus {
    outline: none;
}

.button-submit-contacto {
    width: 20%;
    display: inline-block;
    margin-top: 3em;
}

.article-ubicacion {
    width: 90%;
    margin: auto;
    padding: 2em;
}

.article-ubicacion h2 {
    text-align: center;
    margin-bottom: 2em;
}
.section-contacto h1 {
    text-align: center;
    
}

.mapa-ubicacion-contacto {
    width: 100%;
    height: 16em;
}

.button-submit-contacto {
    cursor: pointer;
}