/* TODO: Unificar clases que pueden ser redundantes porque hay varias clases que tienen las mismas propiedades */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #30475e;
    padding: 16px 32px;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

li {
    list-style: none;
}

footer {
    background-color: #30475e;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

footer article {
    font-weight: bold;
    width: 30%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

footer p {
    color: white;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    color: #4e5761;
    border-radius: 10px;
}

footer li {
    color: white;
    list-style: none;
    margin: 5px;
}

footer li a:visited {
    color: white;
}

footer img {
    max-width: 50px;
}

footer h3 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1em;
}

.nav-main {
    background-color: #222831;
}

.nav-main ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-main li {
    list-style: none;
}

.nav-main a {
    display: block;
    list-style: none;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 2em;
}

.nav-main a:hover {
    text-decoration: underline;
    color: #222831;
    background-color: white;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-search {
    display: flex;
    justify-content: center;
    border: #4e5761 solid 2px;
    border-radius: 16px;
    padding: 8px;
    width: 30%;
    background-color: #4e5761;
}

.container-search input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.container-search:focus-within {
    background-color: white;
}

.container-search input {
    background-color: #4e5761;
    color: white;
}

.container-search input:focus {
    background-color: white;
    color: #4e5761;
    outline: none;
}

.icon-search {
    content: url(../img/search.svg);
}

.button {
    background-color: #30475e;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
    display: inline-block;
}

.button:visited {
    color: white;
}

/* Evaluar si después de la entrega esto sigue acá o vuelve al style del index */
/* se comparte con estilo.contacto.css */
/* /////////////////////////////////////////////////////// CURSO ITEM ///////////////////////////////////////////////////////// */

.article-cursos-destacados {
    width: 90%;
    margin: 2em auto;
}

.article-cursos-destacados h2 {
    display: block;
    text-align: center;
}

.container-cursos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

/* 
    información sobre que hace el simbolo ">"
    https://techbrij.com/css-selector-adjacent-child-sibling
*/

/* 
    Post de como se hizo el espaciado en los ítems de los cursos
    https://stackoverflow.com/a/39862756/13155477
*/

/*
    align last row columns to the left
    3n - 3 columns per row
*/
.container-cursos-destacados > div:nth-child(4n) {
    margin-right: 0;
}
  
.container-cursos-destacados::after {
    content: '';
    flex: auto;
}

/* 
    remove top margin from first row
    -n+3 - 3 columns per row 
*/
.container-cursos-destacados > div:nth-child(-n+4) {
    margin-top: 0;
}

.curso-destacado-item {
    width: calc(1/4*100% - (1 - 1/4) * 2em);
    margin: 2em 2em 0 0;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.curso-destacado-item a {
    text-decoration: none;
}

.scale-animation:hover {
    transform: scale(1.02);
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.container-curso-image {
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container-curso-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.curso-precio {
    position: absolute;
    right: 0;
    bottom: 16px;
    padding: 8px;
    color: white;
    background-color: #222831;
}

.curso-detail {
    text-align: end;
    padding: 1em;
}

.curso-detail-title {
    display: flex;
    justify-content: space-between;
}

.curso-detail-title p {
    font-size: 20px;
    font-weight: bold;
}

.ver-datalle-link {
    color: #4e5761;
    font-weight: 600;
    display: block;
    margin-top: 0.5em;
}

.ver-datalle-link:visited {
    color: #4e5761;
}

.curso-destacado-item-button {
    margin-top: 1em;
    font-size: 0.9em;
    font-weight: 600;
}

/* /////////////////////////////////////////////////////// CURSO ITEM ///////////////////////////////////////////////////////// */

.bordes-redondeados-solid {
    border-radius: 0.5em;
    border: solid #4e5761 0.1em;
}

/* /////////////////////////////////////////////////////// FOOTER CLASS ///////////////////////////////////////////////////////// */

.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 4em 0;
    margin: auto;
}

.footer-info {
    flex: 0 1 28%;
    padding: 16px;
    border: white solid 2px;
    justify-content: center;
    text-align: center;
}

/* /////////////////////////////////////////////////////// FOOTER CLASS ///////////////////////////////////////////////////////// */

#logo-main {
    display: inline;
    width: 64px;
}

#container-logo {
    display: inline;
}