@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #30475e;
    padding: 16px 32px;
}

main {
    background-color: #f0f1f2;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}
/*.p{
    font-size: 0.5em;
}*/
li {
    list-style: none;
}

footer {
    background-color: #30475e;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

footer article {
    font-weight: bold;
    width: 30%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

footer p {
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

footer a:hover {
    color: #a07b9d;
    border-radius: 10px;
}

footer li {
    list-style: none;
    margin: 5px;
}

footer img {
    max-width: 50px;
}

footer h3 {
    font-weight: bold;
    font-size: 20px;
}

.nav-main {
    background-color: #222831;
}

.nav-main ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-main li {
    list-style: none;
}

.nav-main a {
    display: block;
    list-style: none;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 2em;
}

.nav-main a:hover {
    text-decoration: underline;
    color: #222831;
    background-color: white;
}

.menu ul {
    flex-direction: row;
    justify-content: space-around;
    color: magenta;
    background-color: lightseagreen;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 15px 10px;
    text-align: center;
}

.menu a:hover {
    color: #a07b9d;
    border-radius: 10px;
}

#logo-main {
    display: inline;
    width: 64px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-search {
    display: flex;
    justify-content: center;
    border: #4e5761 solid 2px;
    border-radius: 16px;
    padding: 8px;
    width: 30%;
    background-color: #4e5761;
}

.container-search input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.container-search:focus-within {
    background-color: white;
}

.container-search input {
    background-color: #4e5761;
    color: white;
}

.container-search input:focus {
    background-color: white;
    color: #4e5761;
    outline: none;
}

.icon-search {
    content: url(../img/search.svg);
}

.footer-info {
    flex: 0 1 28%;
    padding: 16px;
    border: white solid 2px;
}

.button {
    background-color: #30475e;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
    display: inline-block;
}

/* Evaluar si después de la entrega esto sigue acá o vuelve al style del index */
/* /////////////////////////////////////////////////////// CURSO ITEM ///////////////////////////////////////////////////////// */

.article-cursos-destacados {
    width: 90%;
    margin: 2em auto;
}

.article-cursos-destacados h2 {
    display: block;
    text-align: center;
}

.container-cursos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 2em;
    gap: 1em;
}

.curso-destacado-item {
    flex: 0 1 calc(19%);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: white;
}

.curso-destacado-item a {
    text-decoration: none;
    
}

.curso-destacado-item:hover {
    transform: scale(1.02);
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.container-curso-image {
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.curso-precio {
    position: absolute;
    right: 0;
    bottom: 16px;
    padding: 8px;
    color: white;
    background-color: #222831;
}

.curso-detail {
    text-align: end;
    padding: 1em;
}

.curso-detail-title {
    display: flex;
    justify-content: space-between;
}

.curso-detail-title p {
    font-size: 20px;
    font-weight: bold;
  /*margin: 15px;*/
    
    
}

.curso-destacado-item-button {
    padding: 0.5em;
    margin-top: 1em;
    font-size: 0.9em;
}

/* /////////////////////////////////////////////////////// CURSO ITEM ///////////////////////////////////////////////////////// */

#logo-main {
    display: inline;
    width: 64px;
}

#container-logo {
    display: inline;
}

#container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 24px;
    margin: auto;
}